{% extends 'layouts/base.twig' %}

{% block content %}

    {% block single_content %}
        <div class="container">
            <div class="row">
                <div class="col-12 main-header__wrapper">
                    <h1 class="main-header__headline bleed--right mb-0">{{ post.title }}</h1>
                </div>
            </div>

            <div class="row single__row">
                <div class="col-12 col-lg-5 order-2 order-lg-1 single__copy">
                    {{ post.get_content }}
                </div>
                <div class="col-12 col-lg-7 order-1 order-lg-2 single__image single__no-gutter">
                    {% set img = post.get_image('post-image') %}
                    <img src="{{ img.src | resize(800) }}" alt="{{ img.alt }}" title="{{ img.title }}">
                </div>
            </div>
        </div>
    {% endblock %}




    {% block single_related_news %}

        {% block single_related_news_headline %}
            <div class="staff__background--gray single__headline">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="staff__headline">Passend zu diesem Beitrag:</h2>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="container news-teaser">
            <div class="row">
                <div class="col-12">
                    <link href="{{ site.theme.link }}/assets/dist/splide.min.css" rel="stylesheet"/>
                    <div id="splide" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for post in relatedPosts %}
                                    {% set categorie = post.categories().1.name | default(post.categories().0.name) | replace({'stufe': '', 'Hochschulvertretung': 'HV'}) %}

                                    <li class="splide__slide">
                                        <div class="news-teaser__card">
                                            <div class="news-teaser__img-wrapper">
                                                <div class="news-teaser__badge bg--{{ categorie|lower() }}">
                                                    <span>{{ categorie }}</span>
                                                </div>
                                                {% set img = post.get_image('post-image') %}
                                                <img src="{{ img.src | resize(600) | towebp }}" alt="{{ img.alt }}" title="{{ img.title }}">
                                            </div>
                                            <div class="news-teaser__content">
                                                <h3>
                                                    {{ post.post_title }}
                                                </h3>
                                                <p>{{ post.post_excerpt|default( post.get_content(25)) }}</p>

                                            </div>
                                            <a href="{{ post.link }}" class="btn btn-primary news-teaser__btn">mehr erfahren</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}
