{#
Title: Kontakt-Box
Description: Darstellung eines Teammitglieds und einer Kontakt-Formular auswahl.
Category: text
Icon: phone
Keywords: kontakt, kontakt-formular, formular
PostTypes: page
Mode: edit
align: false
#}

<div class="{{ classes }}" data-{{ block.id }}>

    <div class="container">
        <div class="row">
            <div class="col-4">
                {% include 'utils/image.twig' with {
                    size: 600,
                    img: expert.get_image('image')
                } %}
            </div>
            <div class="col-8 contact-information-box__content-wrapper">

                {{ fields.intro_text }}
                <div class="contact-information-box__chooser-headline">{{ fields.contact_box.headline }}</div>
                <form id="js-contact-box" class="contact-information-box__form">

                    {% set renderBox = fields.contact_box.options is not empty %}
                    {% if renderBox %}
                    <div class="col-8">
                        <select class="form-select contact-information-box__select" aria-label="Kontakt-Art auswählen">
                            {% for option in fields.contact_box.options %}
                                <option class="form-select-option"
                                        value="{{ option.value }}">{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <div class="{{ renderBox ? 'col-4' : 'col' }}">
                        <button type="submit"
                                class="btn btn-primary {{ renderBox ? 'ms-4' : '' }}"
                                data-bs-toggle="modal"
                                data-bs-target="#{{ block.id }}">{{ fields.contact_box.button_text }}</button>
                    </div>

                </form>
                <div class="modal fade"
                     id="{{ block.id }}"
                     tabindex="-1"
                     aria-labelledby="{{ block.id }}Label"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="{{ block.id }}Label">{{ fields.contact_box.button_text }}</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="visually-hidden">Laden...</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="contact-information-box__name-wrapper">
                        <div class="contact-information-box__name">{{ expert.firstname }} {{ expert.lastname }}</div>
                        <div class="contact-information-box__function">{{ expert.function }}</div>
                    </div>
                </div>
            </div>
            {% if fields.show_claim %}
                <div class="col-12">
                    {% include 'partials/claim.twig' with {
                        color: 'white'
                    } %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
