{#
Title: Downloads
Description: Bietet Dateien zum Download an.
Category: media
Icon: download
PostTypes: page
Keywords: download
Mode: edit
align: false
#}
<div class="download {{ classes }}" data-{{ block.id }}>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog">
                    <ul class="nav nav-pills mb-3" id="downloads" role="tablist">
                        {% for term in terms %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link {{ loop.first ? 'active' : '' }}" id="{{ term.name }}-tab"
                                   data-bs-toggle="tab" href="#{{ term.name }}" role="tab"
                                   aria-controls="{{ term.name }}" aria-selected="true">{{ term.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content" id="downloadsContent">
                        {% for term in terms %}
                            <div class="tab-pane fade {{ loop.first ? 'show active' : '' }}" id="{{ term.name }}"
                                 role="tabpanel" aria-labelledby="{{ term.name }}-tab">
                                {% set curTermId = term.id %}
                                <ul>
                                    {% for file in files[curTermId] %}
                                        <li class="downloads__item-wrapper">
                                            <span class="downloads__icon" aria-label="hidden"></span>
                                            <a href="{{ file.guid }}" target="_blank">{{ file.post_title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

