{#
Title: Headline
Description: Erstellt eine Überschrift mit Hintergrund (bleeding).
Category: text
Icon: heading
Keywords: header headline
PostTypes: page
Mode: edit
align: false
#}

<div class="{{ classes }}" data-{{ block.id }}>
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <h{{ fields.tag }}>{{ fields.headline }}</h{{ fields.tag }}>
            </div>
        </div>
    </div>
</div>
