{#
Title: Key-Visual
Description: Erstellt eine Überschrift mit Fließtext und optionalem CTA
Category: text
Icon: tide
Keywords: header headline
PostTypes: page
Mode: edit
align: false
#}

<div class="{{ classes }}" data-{{ block.id }} style="background-image: url('{{ fields.bg_image|tojpg(80) }}')">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="key-visual__text-container">
                    <h1 class="key-visual__headline">{{ fields.headline }}</h1>
                    <div class="key-visual__copytext">
                        {{ fields.description }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex">
                <div class="key-visual__btn-wrapper">
                    <a href="{{ fields.cta_button_link }}" class="btn btn-outline-primary">
                        {{ fields.cta_button_text }}
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
