{#
Title: Schritt-Komponente
Description: Darstellung von einzelnen Schritten eines Prozesses.
Category: text
Icon: editor-ol
Keywords: steps, schritte, aufzählung
PostTypes: page
Mode: edit
align: false
#}

<div class="{{ classes }} step-component__background" data-{{ block.id }}>
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-8">
                <div class="step-component__step-container">
                    {% for step in fields.steps %}
                        <div class="step-component__step-row">
                            <div class="step-component__number">
                                {{ loop.index }}
                            </div>
                            <div class="step-component__text">
                                {{ step.step_text }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-12 col-md-4">
                {% include 'utils/image.twig' with{size: 800, src: image.src, alt: image.alt, title: image.title} %}
            </div>

            {% set cta = fields.cta_block %}
            <div class="row step-component__cta-container">
                <div class="col-12">
                    <h2>{{ cta.cta_headline }}</h2>
                    <p>{{ cta.cta_description }}</p>
                </div>
                {% if cta.cta_button_anzeigen %}
                    {% for btn in cta.cta_button %}
                        <div class="col text-center mb-4">
                            <a class="btn btn-outline-primary" href="{{ btn.btn_link }}">{{ btn.btn_text }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
