{#
Title: Team-Mitglied
Description: Ausgabe ausgewählter Teammitglieder
Category: media
Icon: groups
PostTypes: page
Keywords: team mitarbeiter
Mode: edit
align: false
#}
<div class="staff__background {{ classes }}" data-{{ block.id }}>

    {% set department = fields.department %}

    {% if fields.background %}
        <div class="row">
            <div class="staff__form staff__form--{{ fields.background_position }}">
            </div>
        </div>
    {% endif %}

    <div class="staff__background--gray">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="staff__headline">{{ fields.headline|default(department.name) }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-12">
                <div class="staff__container">

                    {% for staff in department.posts({
                        orderby: 'meta_value',
                        meta_key: 'position',
                        order: 'ASC'
                    }) %}

                        <div class="staff__card">
                            <div class="staff__image" data-cite="{{ staff.cite }}">
                                {% set img = staff.get_image('image') %}
                                {% if img is not empty %}
                                    {% include 'utils/image.twig' with {src: img.src, size: 600, alt: img.alt, title: img.title} %}
                                {% else %}
                                    {% include 'utils/image.twig' with {src: img.src, size: 600, alt: img.alt, title: img.title} %}
                                {% endif %}
                            </div>
                            <div class="staff__content">
                               <span class="staff__name">
                                   {{ staff.firstname }} {{ staff.lastname }}
                               </span>
                                <small>{{ staff.function }}</small>
                                <a class="staff__mail" href="mailto: {{ staff.mail }}">{{ staff.mail }}</a>
                            </div>
                        </div>


                    {% endfor %}
                </div>
            </div>


            {% if fields.infobox %}

                <div class="col-12">

                    <div class="staff__infobox">
                    <span class="staff__info-badge">
                       {% include 'utils/icon.twig' with {'name': 'info-circle-solid'} %}
                    </span>
                        {{ fields.infobox }}
                    </div>


                </div>

            {% endif %}

        </div>
    </div>
</div>

